//-------Variables Styling-------//
/////////////////
/////////
/////

// Color Vars
$main: #b8746c;
$light: #e3beba;
$dark: #6b4d4c;
$black: #131316;
$secondBlack: #1e1e22;
$mutedDark: #a7a8b4;
$mutedLight: #f9f9f9;
$white: #ffffff;
//Font vars
$logoSize: 1.8rem;
$navSize: 0.9rem;
$bigTitleSize: 3.5rem;
$subTitleSize: 1rem;
$nextBigTitleSize: 2.5rem;
$smallSizeT: 0.6rem;
//Font Family type
$robo: "Roboto", sans-serif;
$mainFont: "Cormorant Garamond", serif;
