.our-features {
  .container-fluid {
    //----  Background Color  ----//
    background-color: $white;
    position: relative;
    padding: 3em 0;
    z-index: -10;
    width: 95%;
    &:after {
      content: "";
      width: 40%;
      height: 100%;
      background-color: rgba($main, 0.1);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -10;
    }
  }
  .container {
    .fe-img {
      //----  Features Image  ----//
      background: url("../../../../src/Data/green.jpg"); //----  Chnage Image  ----//
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      object-fit: fill;
      height: 100%;
    }
    .list-item {
      padding-bottom: 2em;
      list-style: none;
    }
    .title,
    .title-small {
      font-weight: bold;
    }
    //----  Head Title  ----//
    .title {
      font-size: 4rem;
      color: $black;
    }
    //----  Head Subtitlr  ----//
    .title-small {
      color: $black;
      font-size: 1.4rem;
      font-weight: bold;
      span {
        font-size: 1.5rem;
        color: $main;
        padding: 0 0.5em;
        margin: 0 0.4em 0.4em 0;
      }
    }
    .subtitle,
    .subtitle-small {
      font-size: 0.9;
      color: $mutedDark;
      font-family: $robo;
    }
  }
}
